header {
    color: rgb(255, 172, 54);
    font-size: 28px;
    text-align: center;
    padding: 15px;
}

.caja {
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    background-color: rgb(253, 63, 83);
    padding: 20px;
}

#ListMerienda {
    max-width: 700px;
    margin: 30px auto;
}

/* Corregido para que aplique directamente a la lista generada por JS */
#ListMerienda ol {
    background-color: rgb(250, 252, 187);
    padding: 20px 30px;
    font-size: 1.2rem;
    line-height: 2;
    color: #333;
}

/* Corregido para que aplique a los elementos de esa lista */
#ListMerienda li {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}