header  {
    color :rgb(161, 221, 112);
    font-size: 20px;
    text-align: center;
    padding: 5px;
    padding: rgb(224, 66, 85); 
}
button  {
    color: rgb(252, 238, 221);
  width: 90px;
  padding: 5px;
  border: 3px solid #443535;
  margin: 5px;
  
}
.caja {
   margin: 10px 350px;
   width: 1200px;
   height: 900px;
   background-color: rgb(123, 54, 56);
   padding: 10px solid rgba(63, 8, 8);
}
footer {

margin: 1px 2px 1px 2px;  
padding: 0%;  
text-align: center;
}
